<!-- app/views/about/index.html.erb -->
<main id="about-main">
  <div class="container">
    <h1>About Me</h1>
    <div class="bio-section">
  <h2>My name is Maria Rodriguez and I´m a Professional Translator</h2>
  <p>
    I am a seasoned translator with a passion for breaking down language barriers and connecting people across cultures. With over a decade of experience in the field, I have established myself as a trusted language expert known for my precision, attention to detail, and unwavering commitment to quality.
  </p>
  <p>
    Driven by my love for languages and a deep understanding of cultural nuances, I specialize in translating a wide range of content, from technical documents and legal texts to marketing materials and creative content. My diverse skill set allows me to effectively convey complex ideas while maintaining the integrity and tone of the original message.
  </p>
  <p>
    My dedication to my craft extends beyond mere translation. I approach each project with a keen sense of professionalism and strive to exceed my clients' expectations every step of the way. Whether it's ensuring accuracy, meeting tight deadlines, or providing personalized service tailored to each client's needs, I go above and beyond to deliver exceptional results.
  </p>
  <p>
    With fluency in multiple languages and a profound respect for the power of communication, I am more than just a translator—I'm a bridge-builder, facilitating meaningful connections between people and cultures. Trust me to bring your words to life and make your message resonate with audiences around the globe.
  </p>
</div>
</div>
</main>

<section id="about-supporting">
  <div class="container">
    <h2></h2>
    <p></p>
    <%= link_to "Contact us", contact_path %>

  </div>
</section>
