.services-section {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px; /* Increase the margin-bottom for more space between sections */
  margin-top: 100px; /* Adjust this value to move the section down */
}

.service-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; /* Add color for better readability */
}

.service-item {
  margin-bottom: 15px;
}

.service-item p {
  margin: 15px 0;
}
