<!-- app/views/places/index.html.erb -->
<main>
  <section id="main-section">
    <div class="container">
      <h1>Welcome to My Website</h1>
      <%= link_to "Learn more", about_path, class: "btn btn-primary" %>

    </div>
  </section>


</main>
